/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: rgb(33, 37, 41);

$mainColor: rgb(206, 212, 218);
$headingColor: rgb(206, 212, 218);

$mainFontSize: 40px;
$mainFont: 'Inter', Helvetica, sans-serif;
$headingFont: 'Inter', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: rgba( $linkColor, 0.75 );

$heading1Size: 2.0em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.qr {
  position: fixed;
  right: 0;
  display: flex;
  color: white;
  text-decoration: none;
  font-family: American Typewriter, sans-serif;
  letter-spacing: 2px;
  font-size: 1.75rem;
  font-weight: lighter;
  align-items: center;
}

qr-code {
  aspect-ratio: 1/1;
  width: calc(12rem * var(--slide-scale));
  --qrcode-dark-color: #ced4da;
  --qrcode-light-color: #212529;
  --qrcode-corner-color: #ced4da;
  --qrcode-resize: true;
}

:root {
  --r-heading-text-transform: none;
}

[hidden] {
  display:none !important;
}

.reveal .slides {
  text-align: left;
}

.reveal .slides .text {
  margin-top: 10%;
}

.reveal pre {
  font-size: 1.5rem;
}

.baseline-high, .baseline-new {
  position: fixed;
  top: 2%;
  display: none;
  width: var(--slide-width);
  left: calc(50% - var(--slide-width) / 2 );
}

body:has(.present[baseline="high"]) .baseline-high {
  display: block;
}

body:has(.present[baseline="2022"]) .baseline-new[y="2022"] {
  display: block;
}

body:has(.present[baseline="2023"]) .baseline-new[y="2023"] {
  display: block;
}

body:has(.present[baseline="2024"]) .baseline-new[y="2024"] {
  display: block;
}

.rechart {
  text {
    fill: white !important;
  }

  [fill="#ed387a"] {
    fill: #5eba71;
  }

}


.ct-chart-pie {
  width: 610px;
  height: 500px;
  margin: auto;
}
.ct-label {
  font-size: 1.5rem;
}

.ct-slice-pie {
  .ct-series-a & {
    fill: #d70206;
  }

  .ct-series-b & {
    fill: #f05b4f;
  }
  
  .ct-series-c & {
    fill: #f4c63d;
  }

  .ct-series-d & {
    fill: #d17905;
  }

  .ct-series-e & {
    fill: #453d3f;
  }

  .ct-series-f & {
    fill: #59922b;
  }
}

.krauset-table {
  font-size: 0.8rem;

  &:not(.compiled) {
    th:nth-child(8), th:nth-child(11) {
      background: green;
    }
  }

  &.compiled {
    th:nth-child(3), th:nth-child(4), th:nth-child(6), th:nth-child(7), th:nth-child(8), th:nth-child(11), th:nth-child(12), th:nth-child(13) {
      background: green;
    }
  }
}

.lol {
  position: absolute;
  color: salmon;
  font-size: 2rem;
  left: 30%;
  rotate: -5deg;

  li {
    list-style: none;
  }

}

progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 290486px;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 1.5rem;
}

progress.is-primary::-moz-progress-bar {
  background-color: #00d1b2;
}
progress::-webkit-progress-bar {
  background-color:#dbdbdb
}
progress::-webkit-progress-value {
  background-color:#4a4a4a
}
progress::-moz-progress-bar {
  background-color:#4a4a4a
}
progress.is-white::-webkit-progress-value {
  background-color:#fff
}
progress.is-white::-moz-progress-bar {
  background-color:#fff
}
progress.is-black::-webkit-progress-value {
  background-color:#0a0a0a
}
progress.is-black::-moz-progress-bar {
  background-color:#0a0a0a
}
progress.is-light::-webkit-progress-value {
  background-color:#f5f5f5
}
progress.is-light::-moz-progress-bar {
  background-color:#f5f5f5
}
progress.is-dark::-webkit-progress-value {
  background-color:#363636
}
progress.is-dark::-moz-progress-bar {
  background-color:#363636
}
progress.is-primary::-webkit-progress-value {
  background-color:#00d1b2
}
progress.is-primary::-moz-progress-bar {
  background-color:#00d1b2
}
progress.is-info::-webkit-progress-value {
  background-color:#3273dc
}
progress.is-info::-moz-progress-bar {
  background-color:#3273dc
}
progress.is-success::-webkit-progress-value {
  background-color:#23d160
}
progress.is-success::-moz-progress-bar {
  background-color:#23d160
}
progress.is-warning::-webkit-progress-value {
  background-color:#ffdd57
}
progress.is-warning::-moz-progress-bar {
  background-color:#ffdd57
}
progress.is-danger::-webkit-progress-value {
  background-color:#ff3860
}
progress.is-danger::-moz-progress-bar {
  background-color:#ff3860
}
progress.is-small {
  height:.75rem
}
progress.is-medium {
  height:1.25rem
}
progress.is-large {
  height:1.5rem
}
